@import url("https://unpkg.com/modern-css-reset/dist/reset.min.css");


@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/inter-v13-latin-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/inter-v13-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/inter-v13-latin-700.woff2') format('woff2');
}

:root {
  --color-primary-green: hsl(75, 94%, 57%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-grey: hsl(0, 0%, 20%);
  --color-neutral-dark-grey: hsl(0, 0%, 12%);
  --color-neutral-off-black: hsl(0, 0%, 8%);

  --font-primary: "Inter", sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: var(--color-neutral-off-black);
  color: var(--color-neutral-white);
  font: 400 0.875rem/1.6 var(--font-primary);

  min-height: 100vh;
  padding: 1.5rem;

  display: grid;
  place-content: center;
}

.card {
  width: clamp(20.4375rem, 90vw, 24rem);
  background-color: var(--color-neutral-dark-grey);
  border-radius: 0.75rem;
  padding: 2.5rem;
}

.card__body {
  margin-bottom: 1.5rem;
  text-align: center;
}

.card__image {
  border-radius: 50%;
  margin: 0 auto;
}

.profile__name {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem;
}

.profile__intro {
  font-size: .875rem;
}

.profile__location {
  color: var(--color-primary-green);
  display: block;
  font-size: 0.875rem;
  font-weight: var(--font-weight-bold);
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.btn:link,
.btn:visited {
  background-color: var(--color-neutral-grey);
  border-radius: 8px;
  font-weight: var(--font-weight-medium);
  display: inline-block;
  width: 100%;
  padding: 0.75rem;
  text-align: center;
  transition: background-color 0.3s cubic-bezier(0.33,0,0.3,1);
}

.btn:hover,
.btn:active {
  background-color: var(--color-primary-green);
  color: var(--color-neutral-dark-grey);
}